{
  "extends": "../.eslintrc",
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  rules: {
    "react/prefer-stateless-function": 0,
    "react/no-multi-comp": 0,
    "react/prefer-es6-class": 0,
    "react/prop-types": 0,
    "no-shadow": 0,
    "new-cap": 0,
  },
}
