{
  "presets": [
    [
      "env",
      {
        "loose": true
      }
    ],
    "react"
  ],
  "plugins": [
    ["transform-class-properties", { "loose": true }],
    "transform-object-rest-spread",
    "dynamic-import-node"
  ]
}
