{
  "presets": [
    ["env",
    {
      "targets": {
        "browsers": [
          "last 2 chrome versions",
          "last 2 firefox versions",
          "last 2 safari versions",
          "last 2 edge versions"
        ]
      }
    }
  ], "react"],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
