{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["__REACT_HOT_LOADER__"] }]
  },
  globals: {
    "__REACT_HOT_LOADER__": true
  }
}
