<footer class="footer">
  Built at Stampsy by Dan Abramov.
  <br>
  <a href="http://github.com/gaearon" target="_blank">Github</a> &middot; <a href="http://twitter.com/dan_abramov" target="_blank">Twitter</a> &middot; <a href="mailto:dan.abramov@me.com">Email</a>
  <br><br>

  <small>Logo based on a <a href="http://codepen.io/joshy/details/cojbD" target="_blank">Pen</a> by <a href="http://twitter.com/_joshhillier/" target="_blank">Josh Hillier</a>.</small>

  <small>React example adapted from <a href="http://tutorialzine.com/2014/07/5-practical-examples-for-learning-facebooks-react-framework/" target="_blank">Tutorialzine article</a> by Martin Angelov.</small>

  <small>Artisan-crafted bespoke design by <a href="http://kkga.me/" target="_blank">Gadzhi Kharkharov</a>.</small>
</footer>