<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/theme.css?2">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">

  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/codemirror.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/playground.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/playgroundPreview.css">

  <script type="text/javascript" src="{{ site.baseurl }}/public/js/codemirror.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/public/js/javascript.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/public/js/react.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/public/js/JSXTransformer.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/public/js/ReactHotAPI.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/public/js/live_editor.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/public/js/tweenState.js"></script>
</head>
